* {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  min-width: 10px;
  white-space: nowrap;
}

.strong {
  font-family: SatoshiBold;
  font-size: 20px;
}

.subtitle {
  color: #707070;
}

.additional {
  color: #819bff;
}
