<main>
    <button (click)="back()" class="arrow-back">
      <img src="../../assets/icons/arrow-back.svg" alt="arrow-back">
    </button>
    <div class="container">
      <h2 class="title">Mi perfil</h2>
        <section class="user-fields">
          <h4 class="subtitle">Información general</h4>
            <div class="user-photo">
              <div *ngIf="showPhoto" class="user-photo-dimentions">
                <img class="user-img-updated" src="../../../assets/profile-photo.png" alt="user-photo">
              </div>
              <div *ngIf="!showPhoto" class="circle-initial">
                D
              </div>
              <div class="position user-photo-dimentions">
                <p>Tamaño máximo:</p>
                <p>720 x 720px, png or jpeg </p>
              </div>
            </div>
          <button class="button" (click)="openModal()">Cargar foto</button>
          <div class="position-inputs">
            <app-input [value]="user.name" [width]="ScreenLarge ? '300px' : '250px'" label="Nombres" [type]="'text'" [name]="'name'"></app-input>
            <app-input [value]="user.lastName" [width]="ScreenLarge ? '300px' : '250px'" label="Apellidos" [type]="'text'" [name]="'lastName'"></app-input>
          </div>
          <hr>
        </section>
        <section class="user-fields">
          <div class="position-row-subtitle margin-top">
            <h4 class="subtitle">Celular</h4>
            <button class="button">Cambiar</button>
          </div>
          <!-- here -->
          <hr>
        </section>
        <section class="user-fields">
          <div class="position-row-subtitle margin-top">
            <h4 class="subtitle">Correo Electrónico</h4>
            <button class="button">Cambiar</button>
          </div>
            <app-input  [value]="user.email" [width]="ScreenLarge ? '300px' : '250px'" label="Correo Electrónico" [type]="'text'" [name]="'email'"></app-input>
          <hr>
        </section>
        <section class="user-fields">
          <div class="position-row-subtitle margin-top">
            <h4 class="subtitle">Contraseña</h4>
            <button class="button">Cambiar</button>
          </div>
          <p class="text">Elige una contraseña segura.</p>
          <hr>
        </section>
        <section class="user-fields">
          <div class="margin-top">
            <h4 class="subtitle">Autenticación de dos factores</h4>
            <p class="text">Mantenga su cuenta segura con nuestro métodos de autenticación multifactor.
            Debes tener al menos un método habilitado.</p>
          </div>
          <div class="position-row-subtitle">
            <div class="secondary-text">
              <p>Aplicación de autenticación</p>
              <p class="text">Una aplicación de autenticación le permite recibir códigos
              en su teléfono sin tener que recibir mensajes de texto.</p>
            </div>
            <button class="button-disabled">Deshabilitar</button>
          </div>
          <div class="position-row-subtitle margin-bottom">
            <div class="secondary-text">
              <p>Clave dinámica para confirmar acciones</p>
              <p class="text">Recibirás un SMS en tu celular con un código de verificación.</p>
            </div>
            <button class="button-active">Habilitar</button>
          </div>
        </section>
    </div>
    <app-modal *ngIf="modalOpen" (closeModal)="onCloseModal()">
      <div class="modal-img">
        <div class="modal-container">
          <div class="modal-img-container">
            <img src="../../../assets/profile-photo.png" alt="">
            <img src="../../../assets/profile-photo.png" alt="">
          </div>
          <ul class="modal-list">
            <li><img src="../../../assets/icons/circle-arrow.svg" alt=""></li>
            <li><img src="../../../assets/icons/crop.svg" alt=""></li>
            <li>Restablecer</li>
          </ul>
          <button class="save-button" (click)="onCloseModal()">Guardar</button>
        </div>
      </div>
    </app-modal>
</main>



