<main class="container">
    <p>1 - 20 de 100 registros</p>
    <div class="pagination">
        <a href="#"><img src="../../../../assets/icons/left-arrow.svg" alt=""></a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#"><img src="../../../../assets/icons/right-arrow.svg" alt=""></a>
    </div>
    <select>
        <option value="10">10 / página</option>
        <option value="20" selected>20 / página</option>
        <option value="50">50 / página</option>
    </select>
</main>