.desktop-header {
  position: relative;
  background: white;
  width: 250px;
  height: 100vh;
  font-family: SatoshiBold;
  color: #242424;
  font-size: 16px;
}

.logo {
  margin: 20px 0 15px 0;
  width: 190px;
}

li {
  margin: 5px;
  padding: 8px;
  text-decoration: none;
  color: black;
}

li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

li img {
  height: 15px;
  margin-left: 20px;
  margin-right: 10px;
}
ul {
  list-style: none;
  padding: 0;
}

.active {
  background: #ece6ff;
}

.user-profile-container {
  position: absolute;
  bottom: 0;
}

.user-profile {
  box-sizing: border-box;
  padding: 20px;
  background: #f9f9f9;
  width: 230px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.user-profile-options {
  box-sizing: border-box;
  padding: 20px;
  background: white;
  width: 230px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.user-profile-options a {
  text-decoration: none;
  color: black;
  font-family: Satoshi;
  font-size: 16px;
}

.user-profile-options a:hover {
  color: #0136fe;
  text-decoration: underline;
}

.circle-initial {
  padding: 10px 13px;
  background: #819bff;
  text-align: center;
  border-radius: 50%;
  color: white;
}

.user-info p {
  margin: 0;
}

.user-info > p {
  font-family: SatoshiBold;
  font-size: 22px;
}

.user-info p:nth-child(2) {
  font-family: Satoshi;
  font-size: 13px;
  color: #707070;
}

.user-info-options p {
  margin: 0;
}

.user-info-options > p {
  font-family: SatoshiBold;
  font-size: 16px;
}

.user-info-options p:nth-child(2) {
  font-family: Satoshi;
  font-size: 13px;
  color: #707070;
}

.flex-rows {
  display: flex;
  flex: row;
  gap: 20px;
}

hr {
  width: 100%;
  background: #d1d1d1;
  border: none;
  color: #d1d1d1;
  min-height: 1.5px;
}

.responsive-header {
  display: none;
}

@media screen and (max-width: 768px) {
  .desktop-header {
    display: none;
  }
  .responsive-header {
    display: flex;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: Satoshi;
  }

  .resp-nav {
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 9999;
    background: white;
  }

  .resp-nav ul li {
    font-family: SatoshiBold;
    font-size: 14px;
  }

  .burger {
    background: transparent;
    border: none;
    padding: 10px;
  }

  .burger img {
    width: 50px;
  }
}
