* {
  margin: 0;
  padding: 0;
}

hr {
  width: 100%;
  background: #d1d1d1;
  border: none;
  height: 1.4px;
  margin: 1rem 0;
}

.table-header {
  display: grid;
  grid-template-columns: min-content repeat(7, 1fr);
  list-style: none;
  font-family: SatoshiBold;
}

.table-header > *:not(:first-child) {
  min-width: 120px;
}

.table-header input {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .responsive-hr {
    display: none;
  }
  .table-header {
    margin-bottom: 16px;
  }
}
